.mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
<<<<<<< HEAD
    border: 1px solid white;
=======
>>>>>>> 5978584cfaa4a5f1d56f7d2c9da8a3391e00f38b
  }