.center { 
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh; 
}
.mainBox {
    width: 320px;
    height:480px;
    background-color:#2e2820;
<<<<<<< HEAD
=======
    border: 1px solid white;
>>>>>>> 5978584cfaa4a5f1d56f7d2c9da8a3391e00f38b
  }
 